<div class="container">

  <div class="container mt-5">

    <h1>AutoScout24 Listing Report</h1>
    <h3 class=mt-3><%= link_to "Average Listing Selling Price per Seller Type", listings_price_path %></h3>
    <h3 class=mt-3><%= link_to "Percentual distribution of available cars by Make", listings_cars_path %></h3>
    <h3 class=mt-3><%= link_to "Average price of the 30% most contacted listings", listings_price_contacted_path %></h3>
    <h3 class=mt-3><%= link_to "The Top 5 most contacted listings per Month", listings_price_top_five_contacted_path %></h3>
  </div>

  <div class="container mt-5">
    <%= @listings.each do |lst| %>
    <ul><%= lst %></ul>
    <% end %>
  </div>

</div>
