<div class="container">

  <div class="container mt-5">

    <h1>AutoScout24 Listing Report</h1>
    <h3 class=mt-3><i class="fas fa-search-dollar"></i> <%= link_to "Average Listing Selling Price per Seller Type", listings_price_path %></h3>
    <h3 class=mt-3><i class="fas fa-percentage"></i> <%= link_to "Percentual distribution of available cars by Make", listings_cars_path %></h3>
    <h3 class=mt-3><i class="fas fa-hand-holding-usd"></i> <%= link_to "Average price of the 30% most contacted listings", listings_price_contacted_path %></h3>
    <h3 class=mt-3><i class="fas fa-award"></i> <%= link_to "The Top 5 most contacted listings per Month", listings_price_top_five_contacted_path %></h3>
  </div>

  <div class="container mt-5">

    <p>Listing.csv</p>
    <%= form_tag import_listings_path, multipart: true do %>
      <%= file_field_tag :file %>
      <%= submit_tag "import" %>
    <% end %>

    <p>contacts.csv</p>
    <%= form_tag import_contacts_path, multipart: true do %>
      <%= file_field_tag :file %>
      <%= submit_tag "import" %>
    <% end %>

    <h4 class="mt-5">Listing.csv</h4>
    <table class="table table-striped listings-table" id="csv_data">
        <thead>
            <tr>
                <th>id</th>
                <th>make</th>
                <th>price</th>
                <th>mileage</th>
                <th>seller_type</th>
            </tr>
        </thead>
        <tbody>
          <% @listings.limit(10).each do |listing| %>
            <tr>
              <td><%= listing.id %></td>
              <td><%= listing.make %></td>
              <td><%= listing.price %></td>
              <td><%= listing.mileage %></td>
              <td><%= listing.seller_type %></td>
            </tr>
          <% end %>
        </tbody>
    </table>


</div>
