<div class=container>

  <div class="container mt-5">
    <h2>Average Price of the 30% most contacted listings</h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Average price</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>€ <%= (@price_sum / @listing_count).round %>,-</td>
          <td>€ <%= @price_sum %>,-</td>
          <td>€ <%= @listing_count %>,-</td>
          <td>€ <%= @contact_count %>,-</td>
        </tr>
      </tbody>
    </table>
    <div><%= link_to "Back", root_path %></div>
  </div>

</div>
